body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #201703;
}

.grid-container {
    width: 70%;
    display: grid;
    grid-template-columns: .5fr 2fr;
    grid-template-rows: .3fr 4fr 2fr 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main"
        "sidebar content"
        "footer footer";
    height: 100vh;
}

.header {
    grid-area: header;
    background-image: linear-gradient(to right, #201703, #a47712);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "Geologica";
    font-weight: 300;
    font-size: 18px;
}

.sidebar {
    grid-area: sidebar;
    background-color: #fff;
}

.sidebar img {
    width: 100%;
}

.menu ul {
    padding: 1rem;
    font-family: "Geologica";
    font-size: 18px;
    font-weight: 600;
    list-style-type: none;
}

.menu li {
    margin: 18px;
}

.menu li:hover {
    text-decoration: underline;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
}

.star-rating {
    white-space: nowrap;
}

.star-rating [type="radio"] {
    appearance: none;
}

.star-rating i {
    font-size: 1.2em;
    transition: 0.3s;
}

.star-rating input {
    margin: 0px;
}

.star-rating label:is(:hover, :has(~ :hover)) i {
    transform: scale(1.35);
    color: #fffdba;
    animation: jump 0.5s calc(0.3s + (var(--i) - 1) * 0.15s) alternate infinite;
}

.star-rating label:has(~ :checked) i {
    color: #faec1b;
    text-shadow: 0 0 2px #ffffff, 0 0 10px #ffee58;
}

@keyframes jump {

    0%,
    50% {
        transform: translatey(0) scale(1.35);
    }

    100% {
        transform: translatey(-15%) scale(1.35);
    }
}

.main {
    grid-area: main;
    display: flex;
    background: url("./img/484438634.jpg") no-repeat center center;
    background-size: cover;
}

.decript {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38%;
    padding: 2rem;
    background-color: #4b4b4b;
    opacity: 60%;
    color: #fff;
    text-align: center;
    font-family: 'Dancing Script';
    font-size: 28px;
}

.content {
    padding: 1rem;
    grid-area: content;
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b5985f;
}

.content-text {
    width: 60%;
    text-align: center;
    color: #5e3f20;
    font-size: 13px;
}

.image {
    display: flex;
    gap: 3rem;
}

figure {
	width: 150px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}

figure:hover+span {
	bottom: -36px;
	opacity: 1;
}


.image img {
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.image img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}


.footer {
    grid-area: footer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #201703, #a47712);
}

.footer svg path {
    fill: #57554f;
}

.footer-content {
    color: #888888;
    font-size: 12px;
    font-family: "Roboto";
    position: absolute;
    bottom: .5rem;
    left: .5rem;
}